* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loader {
  margin-top: 8em;
}
.App {
  text-align: center;
}

.App-logo {
  height: 2em;
}

/* .App__heading-container {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
} */

.App__karma-total {	
  display: flex;	
  flex-direction: row;	
  justify-content: center;	
  align-items: center;	
}	

.App-header {	
  display: flex;	
  flex-direction: row;	
  justify-content: space-evenly;	
  align-items: center;	
  background-color: #03a9f4;	
}	

.App-header > h1 {	
  margin: 0;	
}

.App-link {
  color: #09d3ac;
}

.nav-link {  	
  float: right;	
}
