.display-feed {
    margin: 1em 0;
    padding-top: 3.5em;
    padding-bottom: 2.3em;
}

.notificationsContainer {
    background-color: lightcoral;
    height: 2em;
    width: 80%;
    margin: 0 auto;
    position: sticky;
    position: -webkit-sticky;
    bottom: 3em;
}

.img-container {
    margin: 0;
    padding: 0;
    display: grid;
}

@media screen and (min-width: 50em) {
    .img-container {
        width: 80%;
        margin: 0 auto;
        grid-template-columns: repeat(4, 1fr);
    }
    .img-container li {
        grid-column: span 2;
        grid-row: span 2;
    }
}

@media screen and (min-width: 80em) {
    .img-container {
        width: 80%;
        margin: 0 auto;
        grid-template-columns: repeat(6, 1fr);
    }
    .img-container li {
        grid-column: span 2;
        grid-row: span 2;
    }
}

@media screen and (min-width: 120em) {
    .img-container {
        width: 80%;
        margin: 0 auto;
        grid-template-columns: repeat(8, 1fr);
    }
    .img-container li {
        grid-column: span 2;
        grid-row: span 2;
    }
}