.display-feed {
    position: relative;
}

.img-container {
    margin: 0;
    padding: 0;
    display: grid;
}

@media screen and (min-width: 425px) {
    .img-container {
        width: 80%;
        margin: 0 auto;
        padding: 0;
        display: grid;
    }
}

@media screen and (min-width: 50em) {
    .img-container {
        width: 80%;
        margin: 0 auto;
        grid-template-columns: repeat(4, 1fr);
    }
    .img-container li {
        grid-column: span 2;
        grid-row: span 2;
    }
}

@media screen and (min-width: 80em) {
    .display-feed {	
        padding-bottom: 5em;	
    }
    .img-container {
        width: 80%;
        margin: 0 auto;
        grid-template-columns: repeat(6, 1fr);
    }
    .img-container li {
        grid-column: span 2;
        grid-row: span 2;
    }
}

@media screen and (min-width: 1440px) {
    .img-container {
        max-width: 990px;
        margin: calc((100vw - 990px)/2);
    }
}

@media screen and (min-width: 120em) {
    .img-container {
        width: 80%;
        margin: 0 auto;
        grid-template-columns: repeat(8, 1fr);
    }
    .img-container li {
        grid-column: span 2;
        grid-row: span 2;
    }
}