header {
    height: 2.5em;
    width: 100%;
    padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
    background-color: #03a9f4;
}

.h1Link {
    margin-right: auto;
}