.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #03a9f4;
}

.App-header > h1 {
  margin: 0;
}

.nav-link {
  float: right;
}

.Header__Info-nav {
  display: none;
}

@media screen and (min-width: 80em) {
  .Header__Info-nav {
    display: unset;
  }

  .Header__Info-icon {
    display: none;
  }
}
