.SubmissionForm {
  position: fixed;
  z-index: 9999999;
  bottom: 3em;
  right: 1em;
  outline: black;
}

.SubmissionForm.hasImage {
  width: 90vw;
  height: 72vh;
  padding: 1em;
  background: white;
  left: 50%;
  margin-left: -45vw;
  top: 50%;
  margin-top: -36vh;
  bottom: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.SubmissionForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SubmissionForm__img {
  height: 45vh;
  width: 100%;
  margin: auto;
  object-fit: contain;
}

.SubmissionForm__label {
  display: block;
  margin: .9em .25em .25em;
}

.SubmissionForm__input {
  max-width: 318px;
  height: 2.5em;
  display: block;
  margin: auto;
}

.SubmissionForm__overlay {
  position: fixed;
  z-index: 999999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .5;
  background: grey;
  overflow-y: hidden;
  overflow-x: hidden;
}

.SubmissionForm__button.blue {
  background-color: #03a9f4;
  box-shadow: -5px 5px  #007ac1;
  width: 100%;
  padding: 1em;
  border-radius: 30px;
}

.SubmissionForm__button.hasImage {
  padding: auto;
  border-radius: 10px;
  width: inherit;
  margin: 1em .75em 0;
  box-shadow: none;
}

.SubmissionForm__button:hover {
  cursor: pointer;
}

.SubmissionForm__drag--active {
  margin-left: 1em;
  padding: .4em 1.75em;
  border: 4px dashed rgb(93, 194, 93);
  border-radius: 10px;
  background-color: rgb(150, 196, 150);
  opacity: 50;
  color: white;
  font-size: 14px;
}

.SubmissionForm__drag {
  display: none;
}

.laptop {
  display: none;
}

@media screen and (min-width: 100em) {
  .SubmissionForm__drag {
    display: unset;
  }
}

@media screen and (min-width: 768px) {
  .SubmissionForm {
    bottom: 4em;
  }

  .SubmissionForm.hasImage {
    height: 75vh;
    max-width: 350px; 
    margin-left: -175px;
    margin-top: -37.5vh;
  }
}

@media screen and (min-width: 1024px) {
  .laptop {
    margin: 0 0 0 1em;
    padding: 5px;
    display: flex;
    background: #43a047;
    border-radius: 10px;
    text-align: center;
  }

  .laptop:hover {
    background: #76d275;
  }

  .button-text {
    display: inline;
    font-size: 1.4em;
    font-family: 'Amaranth', sans-serif;
    margin: 0 .2em 0 .5em;
  }

  .mobile {
    display: none;
  }

  .SubmissionForm {
    position: static;
  }

  .hasImage {
    position: fixed!important;
  }

  .SubmissionForm__button {
    position: unset!important;
  }
}