.SubmissionForm {
  position: fixed;
  z-index: 9999999;
  bottom: 3em;
  right: 1em;
  outline: black;
}

.SubmissionForm__overlay {
  position: absolute;
  z-index: 999999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .5;
  background: grey;
  overflow-y: hidden;
  overflow-x: hidden;
}

.SubmissionForm__button {
  background-color: #03a9f4;
  box-shadow: -5px 5px  #007ac1;
  width: 100%;
  padding: 1em;
  border-radius: 20px;
}

.SubmissionForm__button:hover {
  cursor: pointer;
}

.SubmissionForm__drag--active {
  padding: 1em;
  border: 5px dashed rgb(93, 194, 93);
  background-color: rgb(150, 196, 150);
  opacity: 50;
  color: white;
}

.SubmissionForm__drag {
  display: none;
}

@media screen and (min-width: 100em) {
  .SubmissionForm__drag {
    display: unset;
  }
}
