body {
  margin: 0;
  font-family: 'Amaranth', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 
Primary color: 
main: #00a9f4
light: #67daff
dark: #007ac1

Secondary color: 
main: #afbdc4
light: #e1eff7
dark: #808d94
*/