body {
  margin: 0;
  height: 100vh;
  font-family: 'Amaranth', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 
Primary color: 
main: #00a9f4
light: #67daff
dark: #007ac1

Secondary color: 
main: #afbdc4
light: #e1eff7
dark: #808d94
*/

a.resetStyles {
  text-decoration: none;
  color: black;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.loader {
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border: 2px solid #03a9f4;
  border-top-color: #fff;
  border-bottom-color: #fff;
  animation: spinner3 800ms ease infinite;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  }
@keyframes spinner3 {
  to {
  transform: rotate(360deg);
  }  
}
